{% extends 'base.html.twig' %}

{% block title %}TpSymfony{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="h1">Rechercher une ville ainsi qu'un établisemment</h1>

        <p class="my-5">les champs marqués d'un astérisque (*) sont obligatoires</p>

        <form method="post" class=" p-4 my-5">
            <div class="form-group">
                <label for="city">Nom d'une ville (*)</label>
                <input type="text" name="city" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="postal">Code postal (*)</label>
                <input type="text" name="postal" class="form-control" minlength="5" maxlength="5" required>
            </div>

            <input type="submit" class="btn btn-success my-2" value="Recherche">
        </form>

        {% if etablissements is define %}
            <h2>Établissements trouvés :</h2>
            <div>
                {% for etablissement in etablissements %}
                    <div class="container__etablissement">
                        <div>
                            <span>Nom : </span>
                            <p> {{ etablissement.properties.nom }}</p>
                        </div>

                        <div>
                            <span>Adresse : </span>
                            <p>{{ etablissement.properties.adresses[0].lignes[0] }}</p>
                        </div>
                        <div>
                            <span>Téléphone : </span>
                            <p>{{ etablissement.properties.telephone }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">Aucun etablissement</div>
        {% endif %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>


    <style>
        .container__etablissement {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .container__etablissement div {
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            align-items: center;
        }

        span {
            font-weight: bold;
        }

    </style>


{% endblock %}
